/.env
/.venv
__pycache__
app/__pycache__
app/database/__pycache__
app/chatbot/__pycache__
app/utils/__pycache__
app\utils\__pycache__\__init__.cpython-311.pyc
context.json
notes.json
app/database/history.json
app/database/studytime.sqlite3

